.img_header
{
    background-image: url(../imagenes_integrador_front/ba1.jpg); 
    
}

.contenedor-img
{
    background-image: url(../imagenes_integrador_front/ba1.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    
}
.btn_enviar
{
    padding-left: 50%; 
    padding-right: 50%;
    padding-top: 2px;
}

footer{
    background: linear-gradient(to right, #1c3643 0%, #1d5271 100%);

}
